[submodule "yolov3"]
	path = yolov3
	url = git@github.com:DRTorresRuiz/yolov3.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/DRTorresRuiz/yolov5
[submodule "review_object_detection_metrics"]
	path = review_object_detection_metrics
	url = https://github.com/DRTorresRuiz/review_object_detection_metrics.git
