[submodule "yolov3"]
	path = yolov3
	url = https://github.com/DRTorresRuiz/yolov3.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/DRTorresRuiz/yolov5
[submodule "DIS-YOLO"]
	path = DIS-YOLO
	url = https://github.com/DRTorresRuiz/DIS-YOLO.git
[submodule "Object-Detection-Metrics"]
	path = Object-Detection-Metrics
	url = https://github.com/rafaelpadilla/Object-Detection-Metrics.git